body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

header, main, footer {
    max-width: 500px;
}

header {
    text-align: center;
}

main {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

figure {
    margin: 0 0 10px 0;
}

h3 {
    margin-top: 0;
}

.card-content, figcaption {
    padding: 2px 16px 10px 16px;
}

footer {
    margin-top: 30px;
}

figcaption, footer {
    color: gray;
    font-size: 75%;
}

.center {
    text-align: center;
}