<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/_head :: head ('Step 1')"></head>

<body>
<header th:replace="fragments/_header :: header"></header>

<main>
    <figure>
        <img width="500px" th:src="@{/images/lassen-volcanic-park.jpg}">
        <figcaption>Lassen Volcanic National Park at night, <span>photo by <a href="https://unsplash.com/@coc6?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Thomas Ciszewski</a> on <a href="https://unsplash.com/s/photos/lassen-volcanic-national-park?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span></figcaption>
    </figure>

    <div class="card-content">
        <h3>Step 1</h3>
        <p>Find an open spot with the least amount of light pollution such as Lassen Volcanic National Park or the Shasta Dam.</p>

        <div class="center"><a th:href="@{/}">Back</a> <a th:href="@{/step2}">Next</a></div>
    </div>
</main>


<footer th:replace="fragments/_footer :: footer"></footer>
</body>
</html>