<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/_head :: head ('Step 2')"></head>

<body>
<header th:replace="fragments/_header :: header"></header>

<main>
    <figure>
        <img width="500px" th:src="@{/images/neowise.jpg}">
        <figcaption>Neowise comet, <span>photo by <a href="https://unsplash.com/@shlomo99?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Shlomo Shalev</a> on <a href="https://unsplash.com/s/photos/neowise?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span></figcaption>
    </figure>
    <div class="card-content">
        <h3>Step 2</h3>
        <p>Set your fists on top of each other and fully straighten your arms. Put The bottom of your sacked fists on the horizon. The top of your stacked fists should be the height of the comet.</p>

        <div class="center"><a th:href="@{/step1}">Back</a> <a th:href="@{/step3}">Next</a></div>
    </div>
</main>


<footer th:replace="fragments/_footer :: footer"></footer>
</body>
</html>